<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>JetBlue Analytics</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

          <header class="masthead clearfix">
            <div class="inner">

              <img style ="height:30%;width:30%;" src="/static/lgoo3.png"/>  
            </div>
          </header>

            

            <div style="text-decoration:none;text-shadow:none;top:-80px;margin:30px; padding:50px;" class="alert alert-secondary" role="alert">
            <h1 class="cover-heading">Airfare Consultant</h1>
            <p class="lead">This tool will help you select the best time to purchase an airfare ticket through jetBlue.</p>
            <div style="width:1000px;margin: auto;" id="form-wrapper">
            <form class="form-inline" method="POST" action="http://localhost:5000/submit">
                <label class="sr-only" for="inlineFormInputName2">Start Destination</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="origin" placeholder="Start Destination">

                <label class="sr-only" for="inlineFormInputName2">End Destination</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dest" placeholder="End Destination">


                <label class="sr-only" for="inlineFormInputName2">Departure Date</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="departDate" placeholder="Departure Date">


               <label class="sr-only" for="inlineFormInputName2">Return Date</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="returnDate" placeholder="Return Date">


                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              </div>
            </div>

            <div class="inner">
              <p>Created for YHack by Andrew Aikens, Atticus Lin, Eric Pianin, and Matthew Ruskamp. Styled using Bootstrap.</p>
            </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
